/*<<<<<<<<<<------fonts------<<<<<<<<<<<<*/
/*<<<<<<<<<<<<<-----colors----<<<<<<<<<<<<<<<<<<<<<*/
/*<<<<<<<<<<<-----screen size------<<<<<<<<<<*/
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<-----END------<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* line 5, ../sass/style.scss */
body {
  width: 100%;
  overflow-x: hidden;
}

/* line 10, ../sass/style.scss */
html {
  width: 100%;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
/* line 13, ../sass/style.scss */
html a {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  transition: all 0.5s;
  text-decoration: none;
}
/* line 19, ../sass/style.scss */
html h1 {
  width: auto;
  display: inline-block;
  padding: 0 30px 20px;
  border-bottom: 2px dotted #a1a9b0;
}
/* line 25, ../sass/style.scss */
html hr {
  display: block;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 43.9%;
  margin-right: 43.9%;
  border-top: 4px solid  #44688a ;
}
/* line 34, ../sass/style.scss */
html p {
  display: block;
  font-family: "Varela Round", sans-serif;
  color: #8c9398;
  padding-bottom: 10px;
  word-spacing: 1px;
  line-height: 25px;
  font-size: 13px;
  margin: 1em 0;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<--------NAVIGATION(icon + slide)------<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* line 49, ../sass/style.scss */
.nav {
  float: right;
  top: 11%;
  left: 35%;
  font-size: 40px;
  cursor: pointer;
}
/* line 56, ../sass/style.scss */
.nav span {
  transition: all 0.5s ease;
  color: #fff  !important;
}

/* line 61, ../sass/style.scss */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #242830;
  overflow-x: hidden;
  padding-top: 90px;
  transition: 0.5s;
  text-align: center;
  font-family: "Varela Round", sans-serif;
}
/* line 75, ../sass/style.scss */
.sidenav a {
  padding: 30px 8px 30px 20px;
  text-decoration: none;
  font-size: 32px;
  color: #8c9398;
  display: block;
  transition: 0.3s;
}
/* line 83, ../sass/style.scss */
.sidenav a:hover {
  color: whitesmoke;
  font-size: 33px;
}
/* line 89, ../sass/style.scss */
.sidenav ul {
  padding: 0px;
}
/* line 92, ../sass/style.scss */
.sidenav li {
  border-bottom: 1px dotted #a1a9b0;
  margin-right: 15%;
  margin-left: 15%;
}
/* line 97, ../sass/style.scss */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 38px;
  margin-left: 50px;
}

/* line 107, ../sass/style.scss */
#main {
  transition: margin-left .5s;
  padding: 10px;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<--------HOME(PAGE-1)--------<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* line 114, ../sass/style.scss */
.bg-parallax-1 {
  background-image: url("../images/bg2.jpg");
  min-height: 700px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  text-align: center;
  background-attachment: fixed;
  position: relative;
  padding: 40px 0 160px 0;
  height: auto;
}
/* line 129, ../sass/style.scss */
.bg-parallax-1 h1 {
  font-size: 40px;
  letter-spacing: 5px;
  margin: -21px;
  color:  #fff ;
  font-family: "Varela Round", sans-serif;
  border: hidden;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-iteration-count: 1;
}
/* line 141, ../sass/style.scss */
.bg-parallax-1 p {
  display: block;
  font-family: "Varela Round", sans-serif;
  color: #fff;
  letter-spacing: 10px;
  padding-bottom: 45px;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 1s;
  -webkit-animation-iteration-count: 1;
}
/* line 151, ../sass/style.scss */
.bg-parallax-1 span {
  color: #7E868C;
  display: inline-block;
}
/* line 156, ../sass/style.scss */
.bg-parallax-1 .button {
  display: inline-block;
  padding: 20px 40px;
  font-size: 13px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #3dc9b3;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  box-sizing: border-box;
  box-shadow: 0px 3px 0px 0px #309383;
  font-family: "Varela Round", sans-serif;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 1.4s;
  -webkit-animation-iteration-count: 1;
  transition: all 0.5s ease;
}
/* line 179, ../sass/style.scss */
.bg-parallax-1 .button:hover, .bg-parallax-1 .button:focus {
  box-shadow: 0 1em 1em -0.4em #309383;
  transform: translateY(-0.2em);
}

/* line 186, ../sass/style.scss */
.inner {
  padding-top: 165px;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<-----INTRO(PAGE-2)<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* line 193, ../sass/style.scss */
#intro {
  background-color: whitesmoke;
  padding-top: 8%;
  padding-right: 6.4%;
  padding-left: 5%;
  padding-bottom: 8%;
  text-align: center;
  margin-bottom: 50px;
}
/* line 203, ../sass/style.scss */
#intro a {
  color: black;
  font-family: "Varela Round", sans-serif;
}
/* line 207, ../sass/style.scss */
#intro h1 {
  font-size: 15px;
  text-transform: uppercase;
  color: #353535;
  letter-spacing: 1px;
  position: relative;
  font-weight: bold;
  font-family: "Varela Round", sans-serif;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-iteration-count: 1;
}
/* line 220, ../sass/style.scss */
#intro h1:after {
  content: url(../images/Layer.png);
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 102%;
  padding: 0px 15px;
  background: whitesmoke;
}
/* line 229, ../sass/style.scss */
#intro p {
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 0.8s;
  -webkit-animation-iteration-count: 1;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<---------FEATURES(PAGE-3)------<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* line 240, ../sass/style.scss */
.intro2 {
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 10px;
  text-align: center;
}
/* line 247, ../sass/style.scss */
.intro2 h1 {
  font-size: 15px;
  text-transform: uppercase;
  color: #353535;
  letter-spacing: 1px;
  position: relative;
  font-weight: bold;
  font-family: "Varela Round", sans-serif;
}
/* line 257, ../sass/style.scss */
.intro2 h1:after {
  content: url(../images/Layer.png);
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 102%;
  padding: 0px 15px;
  background: #fff;
}
/* line 267, ../sass/style.scss */
.intro2 h6 {
  color: #353535;
  font-family: "Varela Round", sans-serif;
  font-size: 15px;
  padding-top: 20px;
}
/* line 274, ../sass/style.scss */
.intro2 .icon {
  height: 175px;
  width: 175px;
  line-height: 175px;
  max-width: 150%;
  background-color: #141414 ;
  border-radius: 100%;
  display: block;
  overflow: hidden;
  color: #fff;
  font-size: 60px;
  text-align: center;
  text-shadow:    #323232  1px 1px,    #323232 2px 2px,    #323232 3px 3px,    #323232 4px 4px,    #323232 5px 5px,    #323232 6px 6px,    #323232 7px 7px,    #323232 8px 8px,    #323232 9px 9px,    #323232 10px 10px,    #323232 11px 11px,    #323232 12px 12px,    #323232 13px 13px,    #323232 14px 14px,    #323232 15px 15px,    #323232 16px 16px,    #323232 17px 17px,    #323232 18px 18px,    #323232 19px 19px,    #323232 20px 20px,    #323232 21px 21px,    #323232 22px 22px,    #323232 23px 23px,    #323232 24px 24px,    #323232 25px 25px,    #323232 26px 26px,    #323232 27px 27px,    #323232 28px 28px,    #323232 29px 29px,    #323232 30px 30px,    #323232 31px 31px,    #323232 32px 32px,    #323232 33px 33px,    #323232 34px 34px,    #323232 35px 35px,    #323232 36px 36px,    #323232 37px 37px,    #323232 38px 38px,    #323232 39px 39px,    #323232 40px 40px,    #323232 41px 41px,    #323232 42px 42px,    #323232 43px 43px,    #323232 44px 44px,    #323232 45px 45px,    #323232 46px 46px,    #323232 47px 47px,    #323232 48px 48px,    #323232 49px 49px,    #323232 50px 50px,    #323232 51px 51px,    #323232 52px 52px,    #323232 53px 53px,    #323232 54px 54px,    #323232 55px 55px,    #323232 56px 56px,    #323232 57px 57px,    #323232 58px 58px,    #323232 59px 59px,    #323232 60px 60px;
  vertical-align: middle;
  position: relative;
  margin: 0 auto 50px;
  box-sizing: border-box;
  transition: all 0.5s ease;
}
/* line 292, ../sass/style.scss */
.intro2 .icon:hover {
  font-size: 70px;
  height: 180px;
  width: 180px;
  border-radius: 100%;
  box-shadow: 0px 0px 30px 0    #323232 
}
/* line 300, ../sass/style.scss */
.intro2 p {
  padding-bottom: 10px;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<-------SPLIT-SCREEN(PAGE-4)----------------<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* line 306, ../sass/style.scss */
.responsive-design {
  display: flex;
  position: relative;
  z-index: 1;
  background: linear-gradient(to right, #f8f8f9, white);
}
/* line 312, ../sass/style.scss */
.responsive-design .gray-half-bg {
  width: 50%;
  height: 100%;
  position: absolute;
}
/* line 320, ../sass/style.scss */
.responsive-design .left-img {
  position: relative;
  overflow: hidden;
}
/* line 324, ../sass/style.scss */
.responsive-design .left-img img {
  position: relative;
  width: 100%;
  height: 460px;
  margin-left: -200px;
}
/* line 331, ..dssdss/style.scss */
.responsive-design .myCarousel {
  padding-bottom: 100px;
}
/* line 334, ../sass/style.scss */
.responsive-design .carousel {
  position: relative;
  text-align: center;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<-------PARALX(PAGE-5)<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* line 342, ../sass/style.scss */
.paralx {
  background-image: url("../images/layer3.jpg");
  min-height: 250px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
/* line 351, ../sass/style.scss */
.paralx #swag {
  padding-top: 70px;
  padding-bottom: 70px;
  padding-right: 5px;
  font-family: "Varela Round", sans-serif;
  color: #fff;
  letter-spacing: 5px;
  font-size: 40px;
}
/* line 360, ../sass/style.scss */
.paralx #swag #spn {
  padding-top: 15px;
  font-size: 25px;
  color: #fff;
  padding-bottom: 10px;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 0.1s;
  -webkit-animation-iteration-count: 1;
}
/* line 372, ../sass/style.scss */
.paralx #spn1 {
  font-size: 40px;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 0;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 0.1s;
  -webkit-animation-iteration-count: 1;
}
/* line 381, ../sass/style.scss */
.paralx .fa-chevron-down {
  padding-left: 4px;
}

/* line 386, ../sass/style.scss */
.bg-parallax-3 {
  background-image: url("../images/layer3.jpg");
  min-height: 300px;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-attachment: fixed;
}

/* line 396, ../sass/style.scss */
.dwn-btn {
  padding-right: 2px;
  padding-left: 2px;
  width: 40px;
  height: 40px;
  background-color:  #2b3746 ;
  display: inline-block;
  margin: 10px auto 20px;
  color: #fff;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  -webkit-animation-delay: 1.5s;
}
/* line 412, ../sass/style.scss */
.dwn-btn:hover {
  background-color:  #5f6e82 ;
  color: #fff;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<------------PORTFOLIO(PAGE-6)<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* line 419, ../sass/style.scss */
.portfolio .col-md-4 {
  padding-top: 80px;
}
/* line 422, ../sass/style.scss */
.portfolio .image {
  
  display: block;
  
  position: relative;
}
/* line 430, ../sass/style.scss */
.portfolio .overly {
  
  display: block;
  
  position: relative;
}
/* line 437, ../sass/style.scss */
.portfolio .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(61, 201, 179, 0.5);
  overflow: hidden;
  width: 0;
  transition: 0.5s ease;
  text-align: center;
}
/* line 451, ../sass/style.scss */
.portfolio .overly:hover .overlay {
  width: 100%;
}
/* line 455, ../sass/style.scss */
.portfolio .glyphicon {
  color: #fff;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
}
/* line 465, ../sass/style.scss */
.portfolio #gly {
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<-----------99-PROBLEMS(PAGE-7)<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* line 474, ../sass/style.scss */
.ignite {
  background-color: #242830;
  padding: 70px 0;
  text-align: center;
}

/* line 480, ../sass/style.scss */
.ignite-btn {
  display: inline-block;
  padding: 25px 40px;
  color: #fff;
  border: solid 1px #fff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}
/* line 489, ../sass/style.scss */
.ignite-btn:hover {
  color: #3dc9b3;
  border-color: #3dc9b3;
  text-decoration: none;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<----TEAM(PAGE-8)-----<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* line 497, ../sass/style.scss */
#team h1 {
  font-size: 15px;
  text-transform: uppercase;
  color: #353535;
  letter-spacing: 1px;
  padding-top: 80px;
  padding-bottom: 20px;
  font-weight: bold;
  font-family: "Varela Round", sans-serif;
  position: relative;
}
/* line 508, ../sass/style.scss */
#team h1:after {
  content: url("../images/Layer.png");
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 102%;
  padding: 0px 15px;
  background: #fff;
}

/* line 522, ../sass/style.scss */
.section-padding {
  padding: 0 0 70px;
}

/* line 526, ../sass/style.scss */
#a2 {
  color: #353535;
  font-family: "Varela Round", sans-serif;
  font-size: 15px;
  padding-top: 20px;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<------SUBSCRIBE(PAGE-9)-------<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* line 537, ../sass/style.scss */
.subscribe {
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url("../images/keyboard-bg.jpg");
  min-height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
/* line 548, ../sass/style.scss */
.subscribe h1 {
  margin-top: 20px;
  display: inline-block;
  color: #fff !important;
  font-family: "Varela Round", sans-serif;
  margin-bottom: 60px;
  font-size: 1.1em;
  margin: 0.67em 0;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
  letter-spacing: 1px;
  margin-bottom: 40px;
  border: hidden;
}
/* line 563, ../sass/style.scss */
.subscribe i {
  display: inline-block;
  font-size: 2em;
  margin-bottom: 20px;
}
/* line 568, ../sass/style.scss */
.subscribe input {
  transition: background 0.55s ease;
}
/* line 570, ../sass/style.scss */
.subscribe input[type=text] {
  background-color: rgba(255, 255, 255, 0.1);
  border: solid 1px;
  border-color: #fff;
  padding: 20px;
  width: 30%;
  color: #fff;
  line-height: normal;
  vertical-align: baseline;
  font-family: "Varela Round", sans-serif;
}
/* line 583, ../sass/style.scss */
.subscribe input[type=submit] {
  background-color: rgba(61, 201, 179, 0.5);
  border: solid 1px;
  border-color: rgba(61, 201, 179, 0.5);
  padding: 20px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  line-height: normal;
  font-family: "Varela Round", sans-serif;
}
/* line 597, ../sass/style.scss */
.subscribe input[type=submit]:hover {
  background-color: #3dc9b3;
}
/* line 602, ../sass/style.scss */
.subscribe input[type=text]:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<------CONTACT(PAGE-10)-------<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* line 609, ../sass/style.scss */
.up-btn {
  transition: 0.5s ease;
  width: 50px;
  height: 50px;
  background-color: #333;
  display: block;
  margin: 0 auto;
  color: #fff;
  font-size: 20px;
  line-height: 45px;
  text-align: center;
  border-radius: 50px;
  top: -26px;
  position: relative;
}
/* line 623, ../sass/style.scss */
.up-btn:hover {
  background-color: #525252;
  color: white;
}

/* line 629, ../sass/style.scss */
.contact {
  background-color: whitesmoke;
}
/* line 633, ../sass/style.scss */
.contact h1 {
  font-size: 15px;
  text-transform: uppercase;
  color: #353535;
  letter-spacing: 1px;
  padding-top: 0px;
  padding-bottom: 20px;
  font-weight: bold;
  font-family: "Varela Round", sans-serif;
  position: relative;
}
/* line 644, ../sass/style.scss */
.contact h1:after {
  content: url("../images/Layer.png");
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 102%;
  padding: 0px 15px;
  background: whitesmoke;
}
/* line 654, ../sass/style.scss */
.contact h2 {
  font-size: 15px;
  text-transform: uppercase;
  color: #3dc9b3;
  letter-spacing: 1.5px;
  padding-top: 15px;
  padding-bottom: 0px;
  font-weight: bold;
  font-family: "Varela Round", sans-serif;
}
/* line 666, ../sass/style.scss */
.contact .light-box {
  transition: all 0.5s ease;
  background-color: #fff;
  text-align: center;
}
/* line 670, ../sass/style.scss */
.contact .light-box:hover {
  border-bottom: 4px solid #3dc9b3;
  transform: translate3d(0, -5px, 2px);
}

/* line 679, ../sass/style.scss */
.contact-details {
  margin: 20px 0;
}

/* line 683, ../sass/style.scss */
#fa-i {
  color: black;
  padding-bottom: 0px;
  font-size: 25px;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<-------FOOTER-------<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* line 690, ../sass/style.scss */
footer {
  background-color: #242830;
  width: 100%;
  height: 100px;
}
/* line 696, ../sass/style.scss */
footer a {
  color: #a1a9b0;
}
/* line 698, ../sass/style.scss */
footer a:hover {
  color: #3dc9b3;
  text-decoration: none;
}
/* line 703, ../sass/style.scss */
footer p {
  color: #fff;
  font-family: "Varela Round", sans-serif;
  padding-top: 25px;
}

/* line 712, ../sass/style.scss */
.legals {
  text-align: left;
}

/* line 716, ../sass/style.scss */
.credit {
  text-align: right;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<------------"SOCIAL ICONS"----------<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* line 722, ../sass/style.scss */
.social {
  padding-top: 20px;
  margin-top: auto;
  margin-bottom: 20px;
}

/* line 729, ../sass/style.scss */
ul#social-button {
  list-style: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* line 736, ../sass/style.scss */
.social-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #353535;
  color: #fff;
  font-size: 17px;
  line-height: 40px;
  text-align: center;
  position: relative;
  margin: 0 auto 10px;
  box-sizing: border-box;
  display: inline-block;
}
/* line 749, ../sass/style.scss */
.social-btn:hover {
  background-color:  #525252 ;
  color: #fff;
  transform: translateY(-10px);
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<--------CAROUSELS-------------<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* line 761, ../sass/style.scss */
.myCarousel h1 {
  font-size: 15px;
  text-transform: uppercase;
  color: #353535;
  letter-spacing: 1px;
  padding-top: 80px;
  padding-bottom: 20px;
  font-weight: bold;
  font-family: "Varela Round", sans-serif;
  position: relative;
}
/* line 772, ../sass/style.scss */
.myCarousel h1:after {
  content: url("../images/Layer.png");
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 102%;
  padding: 0px 15px;
  background: #fff;
}

/* line 785, ../sass/style.scss */
.carousel-indicators {
  bottom: -40px;
}
/* line 787, ../sass/style.scss */
.carousel-indicators li {
  margin-top: 100px;
  border-radius: 13px;
  height: 13px;
  width: 13px;
  margin: 2px;
  font-weight: 800;
  color: black;
  border: 3px solid #A9A9A9;
  bottom: 50px;
  cursor: pointer;
}

/* line 803, ../sass/style.scss */
ol.carousel-indicators li.active {
  height: 13px;
  width: 13px;
  background-color: #242830;
}

/* line 810, ../sass/style.scss */
#carsl {
  padding-left: 10%;
  padding-right: 10%;
  text-align: left;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* line 817, ../sass/style.scss */
#return-to-top {
  z-index: 99;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #555;
  background: #242830;
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 838, ../sass/style.scss */
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 852, ../sass/style.scss */
#return-to-top:hover {
  background: #242830;
}
/* line 854, ../sass/style.scss */
#return-to-top:hover i {
  color: #fff;
  top: 5px;
}

#return-to-down i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-animation: bounce 2s infinite;
     -moz-animation: bounce 2s infinite;
          animation: bounce 2s infinite;
}
#return-to-down {
  @include animation(bounce 2s infinite);
}
/* line 852, ../sass/style.scss */
/* line 854, ../sass/style.scss */
#return-to-down:hover i {
  color: #fff;
  top: 5px;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<------nav------<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
@media only screen and (max-width: 990px) {
  /* line 3, ../sass/media-query.scss */
  .nav {
    top: 3%;
    left: -7%;
  }

  /* line 8, ../sass/media-query.scss */
  .sidenav a {
    padding: 20px 8px 20px 15px;
    font-size: 25px;
  }
  /* line 12, ../sass/media-query.scss */
  .sidenav li {
    margin-left: 20%;
    margin-right: 20%;
  }
}
@media screen and (max-height: 450px) {
  /* line 22, ../sass/media-query.scss */
  .sidenav {
    padding-top: 15px;
  }
  /* line 24, ../sass/media-query.scss */
  .sidenav a {
    font-size: 18px;
  }
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<------home------<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
@media only screen and (max-width: 550px) {
  /* line 34, ../sass/media-query.scss */
  .bg-parallax-1 {
    min-height: 400px;
  }
  /* line 36, ../sass/media-query.scss */
  .bg-parallax-1 .inner {
    padding-top: 110px;
  }
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<------intro------<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
@media (min-width: 768px) and (max-width: 990px) {
  /* line 47, ../sass/media-query.scss */
  #intro p {
    padding-right: 70px;
    padding-left: 70px;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
  }
}
@media (min-width: 991px) {
  /* line 56, ../sass/media-query.scss */
  #intro p {
    padding-right: 135px;
    padding-left: 135px;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
  }
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<------split-screen------<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
@media only screen and (max-width: 767px) {
  /* line 69, ../sass/media-query.scss */
  .responsive-design {
    background: #f8f8f9;
  }
  /* line 71, ../sass/media-query.scss */
  .responsive-design .myCarousel h1:after {
    background: #f8f8f9;
  }
  /* line 75, ../sass/media-query.scss */
  .responsive-design .gray-half-bg {
    visibility: hidden;
  }
  /* line 78, ../sass/media-query.scss */
  .responsive-design .left-img {
    display: none;
  }
  /* line 80, ../sass/media-query.scss */
  .responsive-design .left-img img {
    visibility: hidden;
  }
}
@media only screen and (min-width: 768px) and (max-width: 990px) {
  /* line 87, ../sass/media-query.scss */
  .responsive-design .left-img img {
    right: -140px;
  }
}
@media only screen and (min-width: 991px) and (max-width: 1200px) {
  /* line 92, ../sass/media-query.scss */
  .responsive-design .left-img img {
    right: -180px;
  }
}
@media only screen and (min-width: 1201px) {
  /* line 97, ../sass/media-query.scss */
  .responsive-design .left-img img {
    right: -220px;
  }
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<------subscribe------<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
@media only screen and (max-width: 480px) {
  /* line 104, ../sass/media-query.scss */
  .subscribe input[type=text] {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<------footer------<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
@media only screen and (max-width: 550px) {
  /* line 114, ../sass/media-query.scss */
  footer footer {
    height: 125px;
  }
  /* line 118, ../sass/media-query.scss */
  footer p {
    padding-top: 5px;
    font-size: 11px;
  }
  /* line 123, ../sass/media-query.scss */
  footer .col-xs-6 {
    width: 100%;
    margin-top: -11px;
    margin-bottom: -20px;
    padding-top: 2px;
  }
  /* line 129, ../sass/media-query.scss */
  footer .legals {
    text-align: center;
  }
  /* line 132, ../sass/media-query.scss */
  footer .credit {
    text-align: center;
  }
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<------carousel------<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
@media screen and (max-width: 767px) {
  /* line 143, ../sass/media-query.scss */
  .myCarousel {
    width: 100%;
  }
  /* line 145, ../sass/media-query.scss */
  .myCarousel #carsl {
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
  }
}
@media screen and (min-width: 990px) {
  /* line 153, ../sass/media-query.scss */
  .carousel-indicators {
    bottom: -40px;
  }
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<-----END------<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<-----END------<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
